.toy-details {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  text-align: center;

  .price {
    font-weight: bold;
    font-size: 1.4rem;
    color: #444;
  }

  h1 {
    font-family: "Pacifico", cursive;
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
  }

  button {
    margin-top: 1rem;
    background-color: #f4a261;
    border: none;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

  }
  button:hover {
    background-color: #e76f51;
  }
}
