.main-layout {
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  
  @include for-narrow-layout {
    @include layoutGTC($break-narrow);
  }

  @include for-normal-layout {
    @include layoutGTC($break-normal);
  }

  @include for-wide-layout {
    @include layoutGTC($break-wide);
  }
}

.container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
}

footer {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
  text-align: center;
}


